<%= render 'layouts/navigation' %>


<div class="container mt-5">
    <h1>Hi there!</h1>
    <p>
    Hello! I'm Rahul Gupta, a passionate software engineer with a knack for crafting clean and efficient code. I thrive on challenges that push my problem-solving skills to new heights, whether it's developing scalable web applications or diving into the intricacies of algorithms. With a keen eye for detail, I enjoy building robust solutions that not only meet requirements but exceed expectations. When I'm not typing away at my keyboard, you can find me exploring the latest tech trends, honing my skills in various programming languages, or enjoying the great outdoors. Let's innovate and create together!
    </p>
</div>