<div class ="container mt-3">
<h1>City Weather</h1>
<form>
    <label for="city">Enter City Name:</label>
    <input type="text" id="city" name="city" required>
    <button type="submit">Get Weather</button>
</form>

<div id="weather-list"></div>    
<%= render 'weather' %>
</div>